.satic-area {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;

  width: calc(100vh / 2);
  height: calc(100vh / 2);

  background: #4183ca1f;
  background-size: cover;
  box-shadow: 2px 2px 50px #4183ca29;
  border-radius: 50%;
  overflow: hidden;
}

.dynamic-area1   {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../img/poster-drop-animate2.png) repeat-x 0px 0px;
  background-size: cover;
  animation: posterDrop1 6000s linear infinite;
}

@keyframes posterDrop1 {
  from { background-position: 0 0; }
  to { background-position: 4000% 0; }
}

.dynamic-area2   {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../img/poster-drop-animate1.png) repeat-x 0px 0px;
  background-size: cover;
  animation: posterDrop2 8000s linear infinite;
}

@keyframes posterDrop2 {
  from { background-position: 0 0; }
  to { background-position: 30000% 0; }
}